# Exclude specific files
.DS_Store
image_features.db
image_processing.log
body.py
detect_body_test.py
deploy.prototxt.txt
feature_comparison.py
image1-tesnsorflow.jpeg
images_comparison.db
main.py
multiple.py
output_image.png
output1_with_boxes.jpg
output2_with_boxes.jpg
roi1.jpg
roi2.jpg
scatter_plot.png
Similarity Euclid Methods.ipynb
single.py
tensor.log

# Exclude directories (and their contents)
photos/
__pycache__/
.ipynb_checkpoints/
faster_rcnn_resnet101_v1_640x640_coco17_tpu-8/
faster_rcnn_resnet101_v1_1024x1024_coco17_tpu-8/
faster_rcnn_openimages_v4_inception_resnet_v2_1/
converted/
faster_rcnn_resnet50_v1_1024x1024_coco17_tpu-8/
faster_rcnn_resnet152_v1_1024x1024_coco17_tpu-8/
log_dir/
model-using/
models/
object_detection.egg-info/
5/
build/
clustering.log



# Ignore all .tar files
*.tar
